# Site configuration

title: "muses : conscious fashion studio"
description: ""

# Build configuration

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout:  "post"
      section: ["Stories", "Blog"]

permalink: /blog/:year/:month/:title.html

prose:
  rooturl: '_posts'
  siteurl: 'http://seattlemuses.github.io/'
  relativeLinks: 'http://seattlemuses.github.io/links.jsonp'
  media: 'assets'
  ignore:
    - index.md
    - _config.yml
    - /_layouts
    - /_includes
  metadata:
    _posts:
      - name: "title"
        field:
          element: "text"
          label: "title"
      - name: "date"
        field:
            element: "text"
            label: "Date"
            placeholder: "3 July 2015"
            type: "text"
      - name: "tags"
        field:
          element: "multiselect"
          label: "Add Tags"
          placeholder: "Choose Tags"
          options:
            - name: "Apples"
              value: "apples"
            - name: "Bananas"
              value: "bananas"
