# Site configuration

title: "muses : conscious fashion studio"
description: ""

# Build configuration

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout:  "post"
      section: ["Stories", "Blog"]

permalink: /blog/:year/:month/:title.html