# Site configuration

title: "muses : conscious fashion studio"
description: ""
logo: /img/logo.png

# Blog configuration

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout:  "post"
      section: ["Stories", "Blog"]

permalink: /blog/:year/:month/:title.html

blogCategories: &blogcategories
  - name: "Immigrants &amp; Refugees"
    value: "immigrants-refugees"
  - name: "Ethical Fashion"
    value: "ethical-fashion"
  - name: "Muses Updates"
    value: "muses-updates"
  - name: "Workforce Development"
    value: "workforce-development"

# Prose configuration

prose:
  rooturl: ''
  siteurl: 'http://seattlemuses.github.io'
  relativeLinks: 'http://seattlemuses.github.io/links.jsonp'
  media: 'assets'
  ignore:
    - index.md
    - _config.yml
    - /_layouts
    - /_includes
  metadata:
    _posts:
      - name: "title"
        field:
          element: "text"
          label: "title"
      - name: "author"
        field:
            element: "text"
            label: "Author"
            type: "text"
      - name: "date"
        field:
            element: "text"
            label: "Date"
            type: "text"
      - name: "categories"
        field:
          element: "multiselect"
          label: "Categories"
          placeholder: "Choose Categories"
          options: *blogcategories
      - name: "thumbnail"
        field:
            element: "text"
            label: "Thumbnail"
            type: "text"
