{% assign categorylinks = '' %}
{% for category_value in include.categories %}
  {% assign category = null %}
  {% for blogCategory in site.blogCategories %}
    {% if blogCategory.value == category_value %}
      {% assign category = blogCategory %}
    {% endif %}
  {% endfor %}
  {% if category %}
    {% capture categorylinks %}{{ categorylinks }}{% if forloop.first == false %}, {% endif %}<a href="/blog/category/{{ category.value }}.html">{{ category.name }}</a>{% endcapture %}
  {% endif %}
{% endfor %}