{% assign category_list = '' %}
{% for category_value in include.categories %}
  {% include _getCategoryNode.html value=category_value %}
  {% if category_node %}
    {% capture category_list %}{{ category_list }}{% if forloop.first == false %}, {% endif %}<a href="/blog/category/{{ category_node.value }}.html">{{ category_node.name }}</a>{% endcapture %}
  {% else %}
    {% capture category_list %}{{ category_list }}{% if forloop.first == false %}, {% endif %}{{ category_value }}{% endcapture %}
  {% endif %}
{% endfor %}