{% assign categorylinks = '' %}
{% for category_value in include.categories %}
  {% include _get-category_node.html value=category_value %}
  {% if category %}
    {% capture categorylinks %}{{ categorylinks }}{% if forloop.first == false %}, {% endif %}<a href="/blog/category/{{ category.value }}.html">{{ category.name }}</a>{% endcapture %}
  {% else %}
    {% capture categorylinks %}{{ categorylinks }}{% if forloop.first == false %}, {% endif %}{{ category_value }}{% endcapture %}
  {% endif %}
{% endfor %}