---
layout: default
section: ["Stories", "Blog"]
---
{% include _getCategoryNode.html value=page.category %}
<h1> {{ category_node.name }} </h1>
{% for post in site.categories[page.category] %}
<h2> <a href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }} </a> </h2>
<div class="row" style="padding-bottom: 10px">
  <div class="col-sm-3">
    {% if post.thumbnail %}
    <img src="{{ site.baseurl }}{{ post.thumbnail }}" style="width:100%" />
    {% else %}
    <img src="{{ site.baseurl }}{{ site.logo }}"      style="width:100%" />
    {% endif %}
  </div>
  <div class="col-sm-9">
    {% include _getCategoryList.html categories=post.categories %}
    <p>{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • by {{ post.author }}{% endif %} {% if post.categories %} • in {{ category_list }}{% endif %}</p>
    <p>{{ post.content | strip_html | truncatewords: 50 }} </p>
  </div>
</div>

{% endfor %}