---
layout: default
section: ["Stories", "Blog"]
---
{% for data_category in site.blogCategories %}
  {% if data_category.value == page.category %}
    {% assign category = data_category %}
  {% endif %}
{% endfor %}
<h1> {{ category.name }} </h1>
{% for post in site.categories[page.category] %}

{% assign categorylinks = '' %}
{% for post_category in post.categories %}
  {% for data_category in site.blogCategories %}
    {% if data_category.value == post_category %}
      {% assign category = data_category %}
    {% endif %}
  {% endfor %}
  {% if category %}
    {% capture categorylinks %}{{ categorylinks }}{% if forloop.first == false %}, {% endif %}<a href="/blog/category/{{ category.value }}.html">{{ category.name }}</a>{% endcapture %}
  {% endif %}
{% endfor %}

<h2> <a href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }} </a> </h2>
<div class="row" style="padding-bottom: 10px">
  <div class="col-sm-3">
    {% if post.thumbnail %}
    <img src="{{ site.baseurl }}{{ post.thumbnail }}" style="width:100%" />
    {% else %}
    <img src="{{ site.baseurl }}{{ site.logo }}"      style="width:100%" />
    {% endif %}
  </div>
  <div class="col-sm-9">
    <p>{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • by {{ post.author }}{% endif %} {% if post.categories %} • in {{ categorylinks }}{% endif %}</p>
    <p>{{ post.content | strip_html | truncatewords: 50 }} </p>
  </div>
</div>

{% endfor %}