---
layout: default
---

<style>
img {
display: block;
margin: 10px auto;
max-width: 100%;
max-height: 300px;
}
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $("img").after("<div>Test</div>")
  });
</script>

<h1>{{ page.title }}</h1>
{% include _getCategoryList.html categories=page.categories %}
<p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • by {{ page.author }}{% endif %}{% if page.categories %} • in {{ category_list }}{% endif %}</p>
{{ content }}
