---
layout: default
---

{% assign post = page %}
{% assign categorylinks = '' %}
{% for post_category in post.categories %}
  {% for data_category in site.blogCategories %}
    {% if data_category.value == post_category %}
      {% assign category = data_category %}
    {% endif %}
  {% endfor %}
  {% if category %}
    {% capture categorylinks %}{{ categorylinks }}{% if forloop.first == false %}, {% endif %}{% if forloop.last == true %}and {% endif %}<a href="/blog/category/{{ category.value }}.html/">{{ category.name }}</a>{% endcapture %}
  {% endif %}
{% endfor %}

<style>
img {
display: block;
margin: 20px auto;
max-width: 100%;
}

.caption {
text-align: center;
margin-bottom: 10px;
}

.caption img {
margin-bottom: 10px;
}
</style>

<h1>{{ page.title }}</h1>
<p id="post-meta">{{ categorylinks }}</p>
<p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • by {{ page.author }}{% endif %} {% if page.categories %} • in {{ page.categories | array_to_sentence_string }}{% endif %}</p>
{{ content }}